.form-control {
  border: 1px solid black;
  border-left: none;
}

.input-group .input-group-text {
  border: 1px solid black;
  border-right: none;
}

.box-color-preview {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  margin-left: 20px;
}
