.form-control {
  border: 1px solid black;
  border-left: none;
}

.input-group .input-group-text {
  border: 1px solid black;
  border-right: none;
}

.input-group {
  width: 230px;
}

.box-color-preview {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  margin-left: 20px;
}

.fa + span {
  margin-left: 10px;
}
